<div>
    <h2 id="page-heading">
        <span jhiTranslate="optisoinsApp.amo.home.title">Amos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-amo" [routerLink]="['/amo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="optisoinsApp.amo.home.createLabel">
            Create new Amo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="amos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="optisoinsApp.amo.code">Code</span></th>
            <th><span jhiTranslate="optisoinsApp.amo.tarif">Tarif</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let amo of amos ;trackBy: trackId">
                <td><a [routerLink]="['/amo', amo.id, 'view' ]">{{amo.id}}</a></td>
                <td>{{amo.code}}</td>
                <td>{{amo.tarif}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/amo', amo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/amo', amo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'amo/'+ amo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
