<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-carte-aide-medicale-heading" jhiTranslate="optisoinsApp.carteAideMedicale.home.createOrEditLabel">Create or edit a Carte Aide Medicale</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!carteAideMedicale.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="carteAideMedicale.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="optisoinsApp.carteAideMedicale.dateDebutValidite" for="field_dateDebutValidite">Date Debut Validite</label>
                    <div class="input-group">
                        <input id="field_dateDebutValidite" type="text" class="form-control" name="dateDebutValidite" ngbDatepicker  #dateDebutValiditeDp="ngbDatepicker" [(ngModel)]="carteAideMedicale.dateDebutValidite"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDebutValiditeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dateDebutValidite?.dirty && editForm.controls.dateDebutValidite?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateDebutValidite?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="optisoinsApp.carteAideMedicale.dateFinValidite" for="field_dateFinValidite">Date Fin Validite</label>
                    <div class="input-group">
                        <input id="field_dateFinValidite" type="text" class="form-control" name="dateFinValidite" ngbDatepicker  #dateFinValiditeDp="ngbDatepicker" [(ngModel)]="carteAideMedicale.dateFinValidite"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateFinValiditeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dateFinValidite?.dirty && editForm.controls.dateFinValidite?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateFinValidite?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="optisoinsApp.carteAideMedicale.numero" for="field_numero">Numero</label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                        [(ngModel)]="carteAideMedicale.numero" required/>
                    <div [hidden]="!(editForm.controls.numero?.dirty && editForm.controls.numero?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.numero?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="optisoinsApp.carteAideMedicale.assure" for="field_assure">Assure</label>
                    <select class="form-control" id="field_assure" name="assure" [(ngModel)]="carteAideMedicale.assureId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="assureOption.id" *ngFor="let assureOption of assures; trackBy: trackAssureById">{{assureOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
