<div>
    <h2 id="page-heading">
        <span jhiTranslate="optisoinsApp.orthophoniste.home.title">Orthophonistes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-orthophoniste" [routerLink]="['/orthophoniste/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="optisoinsApp.orthophoniste.home.createLabel">
            Create new Orthophoniste
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="orthophonistes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="optisoinsApp.orthophoniste.nom">Nom</span></th>
            <th><span jhiTranslate="optisoinsApp.orthophoniste.prenom">Prenom</span></th>
            <th><span jhiTranslate="optisoinsApp.orthophoniste.numeroCafat">Numero Cafat</span></th>
            <th><span jhiTranslate="optisoinsApp.orthophoniste.numeroRidet">Numero Ridet</span></th>
            <th><span jhiTranslate="optisoinsApp.orthophoniste.compteBancaire">Compte Bancaire</span></th>
            <th><span jhiTranslate="optisoinsApp.orthophoniste.telephones">Telephones</span></th>
            <th><span jhiTranslate="optisoinsApp.orthophoniste.adresses">Adresses</span></th>
            <th><span jhiTranslate="optisoinsApp.orthophoniste.courriels">Courriels</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orthophoniste of orthophonistes ;trackBy: trackId">
                <td><a [routerLink]="['/orthophoniste', orthophoniste.id, 'view' ]">{{orthophoniste.id}}</a></td>
                <td>{{orthophoniste.nom}}</td>
                <td>{{orthophoniste.prenom}}</td>
                <td>{{orthophoniste.numeroCafat}}</td>
                <td>{{orthophoniste.numeroRidet}}</td>
                <td>
                    <div *ngIf="orthophoniste.compteBancaireId">
                        <a [routerLink]="['../compte-bancaire', orthophoniste.compteBancaireId , 'view' ]" >{{orthophoniste.compteBancaireId}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let telephones of orthophoniste.telephones; let last = last">
                            <a class="form-control-static" [routerLink]="['../telephone', telephones?.id, 'view' ]">{{telephones.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let adresses of orthophoniste.adresses; let last = last">
                            <a class="form-control-static" [routerLink]="['../adresse', adresses?.id, 'view' ]">{{adresses.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let courriels of orthophoniste.courriels; let last = last">
                            <a class="form-control-static" [routerLink]="['../courriel', courriels?.id, 'view' ]">{{courriels.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/orthophoniste', orthophoniste.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/orthophoniste', orthophoniste.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'orthophoniste/'+ orthophoniste.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
