<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orthophoniste">
            <h2><span jhiTranslate="optisoinsApp.orthophoniste.detail.title">Orthophoniste</span> {{orthophoniste.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="optisoinsApp.orthophoniste.nom">Nom</span></dt>
                <dd>
                    <span>{{orthophoniste.nom}}</span>
                </dd>
                <dt><span jhiTranslate="optisoinsApp.orthophoniste.prenom">Prenom</span></dt>
                <dd>
                    <span>{{orthophoniste.prenom}}</span>
                </dd>
                <dt><span jhiTranslate="optisoinsApp.orthophoniste.numeroCafat">Numero Cafat</span></dt>
                <dd>
                    <span>{{orthophoniste.numeroCafat}}</span>
                </dd>
                <dt><span jhiTranslate="optisoinsApp.orthophoniste.numeroRidet">Numero Ridet</span></dt>
                <dd>
                    <span>{{orthophoniste.numeroRidet}}</span>
                </dd>
                <dt><span jhiTranslate="optisoinsApp.orthophoniste.compteBancaire">Compte Bancaire</span></dt>
                <dd>
                    <div *ngIf="orthophoniste.compteBancaireId">
                        <a [routerLink]="['/compte-bancaire', orthophoniste.compteBancaireId, 'view']">{{orthophoniste.compteBancaireId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/orthophoniste', orthophoniste.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
