<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="compteBancaire">
            <h2><span jhiTranslate="optisoinsApp.compteBancaire.detail.title">Compte Bancaire</span> {{compteBancaire.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="optisoinsApp.compteBancaire.numeroCompte">Numero Compte</span></dt>
                <dd>
                    <span>{{compteBancaire.numeroCompte}}</span>
                </dd>
                <dt><span jhiTranslate="optisoinsApp.compteBancaire.nomBanque">Nom Banque</span></dt>
                <dd>
                    <span>{{compteBancaire.nomBanque}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/compte-bancaire', compteBancaire.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
