<div>
    <h2 id="page-heading">
        <span jhiTranslate="optisoinsApp.compteBancaire.home.title">Compte Bancaires</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-compte-bancaire" [routerLink]="['/compte-bancaire/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="optisoinsApp.compteBancaire.home.createLabel">
            Create new Compte Bancaire
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="compteBancaires">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="optisoinsApp.compteBancaire.numeroCompte">Numero Compte</span></th>
            <th><span jhiTranslate="optisoinsApp.compteBancaire.nomBanque">Nom Banque</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let compteBancaire of compteBancaires ;trackBy: trackId">
                <td><a [routerLink]="['/compte-bancaire', compteBancaire.id, 'view' ]">{{compteBancaire.id}}</a></td>
                <td>{{compteBancaire.numeroCompte}}</td>
                <td>{{compteBancaire.nomBanque}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/compte-bancaire', compteBancaire.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/compte-bancaire', compteBancaire.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'compte-bancaire/'+ compteBancaire.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
