<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-compte-bancaire-heading" jhiTranslate="optisoinsApp.compteBancaire.home.createOrEditLabel">Create or edit a Compte Bancaire</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!compteBancaire.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="compteBancaire.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="optisoinsApp.compteBancaire.numeroCompte" for="field_numeroCompte">Numero Compte</label>
                    <input type="text" class="form-control" name="numeroCompte" id="field_numeroCompte"
                        [(ngModel)]="compteBancaire.numeroCompte" required/>
                    <div [hidden]="!(editForm.controls.numeroCompte?.dirty && editForm.controls.numeroCompte?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.numeroCompte?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="optisoinsApp.compteBancaire.nomBanque" for="field_nomBanque">Nom Banque</label>
                    <input type="text" class="form-control" name="nomBanque" id="field_nomBanque"
                        [(ngModel)]="compteBancaire.nomBanque" required/>
                    <div [hidden]="!(editForm.controls.nomBanque?.dirty && editForm.controls.nomBanque?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nomBanque?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
