<div>
    <h2 id="page-heading">
        <span jhiTranslate="optisoinsApp.feuilleSoins.home.title">Feuille Soins</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-feuille-soins" [routerLink]="['/feuille-soins/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="optisoinsApp.feuilleSoins.home.createLabel">
            Create new Feuille Soins
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="feuilleSoins">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="optisoinsApp.feuilleSoins.priseEnCharge">Prise En Charge</span></th>
            <th><span jhiTranslate="optisoinsApp.feuilleSoins.etatRecapitulatif">Etat Recapitulatif</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let feuilleSoins of feuilleSoins ;trackBy: trackId">
                <td><a [routerLink]="['/feuille-soins', feuilleSoins.id, 'view' ]">{{feuilleSoins.id}}</a></td>
                <td>
                    <div *ngIf="feuilleSoins.priseEnChargeId">
                        <a [routerLink]="['../prise-en-charge', feuilleSoins.priseEnChargeId , 'view' ]" >{{feuilleSoins.priseEnChargeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="feuilleSoins.etatRecapitulatifId">
                        <a [routerLink]="['../etat-recapitulatif', feuilleSoins.etatRecapitulatifId , 'view' ]" >{{feuilleSoins.etatRecapitulatifId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/feuille-soins', feuilleSoins.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/feuille-soins', feuilleSoins.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'feuille-soins/'+ feuilleSoins.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
