<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-telephone-heading" jhiTranslate="optisoinsApp.telephone.home.createOrEditLabel">Create or edit a Telephone</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!telephone.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="telephone.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="optisoinsApp.telephone.numeroTelephone" for="field_numeroTelephone">Numero Telephone</label>
                    <input type="text" class="form-control" name="numeroTelephone" id="field_numeroTelephone"
                        [(ngModel)]="telephone.numeroTelephone" required minlength="6"/>
                    <div [hidden]="!(editForm.controls.numeroTelephone?.dirty && editForm.controls.numeroTelephone?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.numeroTelephone?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.numeroTelephone?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 6 }">
                        This field is required to be at least 6 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="optisoinsApp.telephone.type" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="telephone.type" id="field_type"  required>
                        <option value="PERSONNEL">{{'optisoinsApp.TypeTelephone.PERSONNEL' | translate}}</option>
                        <option value="PROFESSIONEL">{{'optisoinsApp.TypeTelephone.PROFESSIONEL' | translate}}</option>
                        <option value="DOMICILE">{{'optisoinsApp.TypeTelephone.DOMICILE' | translate}}</option>
                        <option value="BUREAU">{{'optisoinsApp.TypeTelephone.BUREAU' | translate}}</option>
                        <option value="MOBILE">{{'optisoinsApp.TypeTelephone.MOBILE' | translate}}</option>
                        <option value="FIXE">{{'optisoinsApp.TypeTelephone.FIXE' | translate}}</option>
                        <option value="PRINCIPAL">{{'optisoinsApp.TypeTelephone.PRINCIPAL' | translate}}</option>
                        <option value="AUTRE">{{'optisoinsApp.TypeTelephone.AUTRE' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="optisoinsApp.telephone.commentaire" for="field_commentaire">Commentaire</label>
                    <input type="text" class="form-control" name="commentaire" id="field_commentaire"
                        [(ngModel)]="telephone.commentaire" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="optisoinsApp.telephone.orthophoniste" for="field_orthophoniste">Orthophoniste</label>
                    <select class="form-control" id="field_orthophoniste" name="orthophoniste" [(ngModel)]="telephone.orthophonisteId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="orthophonisteOption.id" *ngFor="let orthophonisteOption of orthophonistes; trackBy: trackOrthophonisteById">{{orthophonisteOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="optisoinsApp.telephone.patient" for="field_patient">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" [(ngModel)]="telephone.patientId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id" *ngFor="let patientOption of patients; trackBy: trackPatientById">{{patientOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="optisoinsApp.telephone.medecin" for="field_medecin">Medecin</label>
                    <select class="form-control" id="field_medecin" name="medecin" [(ngModel)]="telephone.medecinId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="medecinOption.id" *ngFor="let medecinOption of medecins; trackBy: trackMedecinById">{{medecinOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
