<div>
    <h2 id="page-heading">
        <span jhiTranslate="optisoinsApp.remplacante.home.title">Remplacantes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-remplacante" [routerLink]="['/remplacante/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="optisoinsApp.remplacante.home.createLabel">
            Create new Remplacante
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="remplacantes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="optisoinsApp.remplacante.dateDebut">Date Debut</span></th>
            <th><span jhiTranslate="optisoinsApp.remplacante.dateFin">Date Fin</span></th>
            <th><span jhiTranslate="optisoinsApp.remplacante.patientele">Patientele</span></th>
            <th><span jhiTranslate="optisoinsApp.remplacante.orthophoniste">Orthophoniste</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let remplacante of remplacantes ;trackBy: trackId">
                <td><a [routerLink]="['/remplacante', remplacante.id, 'view' ]">{{remplacante.id}}</a></td>
                <td>{{remplacante.dateDebut | date:'mediumDate'}}</td>
                <td>{{remplacante.dateFin | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="remplacante.patienteleId">
                        <a [routerLink]="['../patientele', remplacante.patienteleId , 'view' ]" >{{remplacante.patienteleId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="remplacante.orthophonisteId">
                        <a [routerLink]="['../orthophoniste', remplacante.orthophonisteId , 'view' ]" >{{remplacante.orthophonisteId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/remplacante', remplacante.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/remplacante', remplacante.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'remplacante/'+ remplacante.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
